* {
  font-family: "Roboto Mono", monospace;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --color-primary: #884cab;
  --color-secondary: rgb(97, 164, 206);
  --gradient: linear-gradient(
    225deg,
    #742c93,
    #742c93,
    #742c93,
    #4b69a0,
    #2b86c5,
    #4b69a0,
    #742c93,
    #742c93,
    #742c93
  );
}
body {
  background-color: #111;
  color: #eee;
}
